*{
    text-decoration: none;
}
ul,ol{
    list-style: none;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
img {
    max-width: 100%;
}
/*--resetting css--*/

.main-header{
    background-color: orangered;
    max-width: 1200px;
}
.head-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.logo{
    height: 25px;
}


.container{
    max-width: 750px;
    margin: 0% auto;
}
.row{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    font-size: small;
}
/*--other products photo--*/
.col-1{ 
   width: calc(100% /3);
   margin: 10px;
}
.col-2{
    width: calc(100% /3);
    margin: 10px;
}
.col-3{
    width: calc(100% /3);
    margin: 10px;
}
.discounted{
    font-size: small;
    color: red;
}
.price-before{
    text-decoration: line-through;
    font-size: small;
    color: lightslategrey;
}
/*---section--*/

.row-2{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    font-size: small;
}
.col-4{
    width: calc(100% /3);
    margin: 10px;
}
.col-5{
    width: calc(100% /3);
    margin: 10px;
}
.col-6{
    width: calc(100% /3);
    margin: 10px;
}
/*--footer section--*/

.footer{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.footer-row{
    height: 35px;
    font-size: small;
}